.brief a{
    text-decoration: none;
    color: rgb(0, 119, 230);
    transition: 400ms;
    font-weight: bold;
}
.brief a:hover{
    cursor: pointer;
    color: rgb(0, 90, 173);
    margin-left: 5px;
}
.bold{
    font-weight: bold;
}
.brief li{
    margin: 8px 0 8px 0;
}