body{
    background-color: rgb(167, 167, 167);
    font-family: Arial, Helvetica, sans-serif;
}
.header{
    display: inline-block;
    top: 0;
    left: 0;
    position: fixed;
    font-size: 30px;
    color: white;
    background-color: rgb(24, 24, 24);
    padding: 10px;
    width: 100%;
    text-align: center;
}
.subheader{
    font-size: 20px;
    margin-top: 5px;
    color: rgb(114, 114, 114);
}
.main{
    margin-top: 100px;
}
.bold{
    font-weight: bold;
}
.war{
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    margin-top: 30px;
    background-color: white;
    padding: 15px;
    box-shadow: 0 1px 2px 0 white;
}
.date{
    text-align: center;
    font-size: 18px;
    color: rgb(145, 60, 0);
    font-weight: bold;
}
.status{
    font-size: 16px;
    color: rgb(253, 0, 55);
    font-weight: bold;
}
.status-win{
    color: rgb(0, 167, 0);
}
.status-lost{
    color: red;
}
#green{
    background-color: rgba(0, 255, 0, 0.253);
    margin-top: 150px;
}
#blue{
    background-color: rgba(0, 0, 255, 0.24);
}
#yellow{
    background-color: rgba(255, 255, 0, 0.308);
}
#red{
    background-color: rgba(255, 0, 0, 0.301);
}

@media screen and (max-width: 600px){
    .header{
        font-size: 18px;
    }
    .subheader{
        font-size: 15px;
        margin-top: 5px;
    }
    .main{
        margin-top: 100px;
    }
    .bold{
        font-weight: bold;
    }
    .war{
        margin-top: 20px;
        padding: 10px;
        font-size: 14px;
        width: 90%;
    }
    .date{
        font-size: 15px;
    }
    .status{
        font-size: 14px;
    }
}
